
    <div>
        <div style="border-radius:10px 10px 0px 0px ;margin-left: 5%;width: 88%;float: left;position: relative;min-height: 1px;padding-left: 15px;padding-right: 15px;border: 1px solid black;">
            <div style="text-align: center;">
                <img src="assets/images/omega.png" style="padding-top: 10px;">
                <p style="padding-bottom: 10px;font-size: 25px;">
                    <strong>Science Institute Scholarship Examination 2017 Result</strong>
                </p>
            </div>
        </div>
    </div>







    <div>
        <div style="border-radius: 0px 0px 35px 35px;margin-bottom: 72px;margin-left: 5%;width: 88%;float: left;position: relative;min-height: 1px;padding-left: 15px;padding-right: 15px;border: 1px solid black;">
            <div style="padding: 15px;">
                <h3 style="font-size: 24px;text-align: center;width: 20%;border-bottom: 2px dashed black;margin-left: 465px;">Your Result</h3>
                <strong style="font-size: 20px;margin-right: 20px;line-height: 3;">Roll No</strong>:
                    <span style="font-size: 20px;margin-left: 20px;">01Q11</span>
                <br>
                <strong style="font-size: 20px;margin-right: 39px;line-height: 3;">Name</strong>:
                    <span style="font-size: 20px;margin-left: 20px;">JOUHAR C</span>
                <br>
                <strong style="font-size: 20px;margin-right: 36px;line-height: 3;">Board</strong>:
                    <span style="font-size: 20px;margin-left: 20px;">STATE</span>

                
                <div>
                    
                    <!-- YOUR SCORE -->
                    <div style="width: 50%;float: left;position: relative;min-height: 1px;padding: 15px;box-sizing: border-box;border: 1px solid black;top: 25px;">
                        <div style="text-align: center;">
                            <h2>Your Score</h2>
                            <div>
                                <div>
                                    <h4>
                                        <small></small>
                                            230/360
                                        <small></small>
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>



                    <!-- YOUR SCORE -->
                    <div style="width: 50%;float: left;position: relative;min-height: 1px;padding: 15px;box-sizing: border-box;border: 1px solid black;top: 25px;">
                        <div style="text-align: center;">
                            <h2>Your Score</h2>
                            <div>
                                <div>
                                    <h4>
                                        <small></small>
                                            230/360
                                        <small></small>
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div style="text-align: center;width: 100%;float: left;position: relative;min-height: 1px;padding-left: 15px;padding-right: 15px;margin-top: 40px;margin-bottom: 10px;">
                        <div>
                          <strong style="font-weight: bold;font-size: 21px;">Congratulations...!</strong>
                          . . .<span style="font-weight: bold;font-size: 25px;color: red;">You are selected for Scholarship</span>.
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>