.gallery {
  padding: 0;
}

.gallery li {
  display: inline-block;
  margin: 0 1em 1em 0;
  list-style-type: none;
  text-align: center;
}

@media (max-width: 767px) {
  .gallery li {
    margin: 0;
  }
}

.gallery1 img {
  width: 253px;
  height: 179px;
}

.gallery2 img {
  width: 6em;
}

.gallery5 img {
  width: 120px;
}

.modal-dialog  {
  padding-top: 5%;
}
@media (max-width: 400px) {
  .modal-dialog  {
      padding-top: 25%;
   }
}

@media (max-width: 800px) {
  .modal-dialog  {
      padding-top: 7%;
   }
}

@media (max-width: 360px) {
  .modal-dialog  {
      padding-top: 20% !important;
   }
}


