/** CUSTOM GOOGLE SEARCH STYLE **/

/*Removes default x in search fields (webkit only)*/
  input[type=search]::-webkit-search-cancel-button{-webkit-appearance: none;}
  /*Changes the color of the placeholder*/
  ::-webkit-input-placeholder{color: #0d2840; opacity: .5;}
  :-moz-placeholder{color: #0d2840; opacity: .5;}
  ::-moz-placeholder{color: #0d2840; opacity: .5;}
  :-ms-input-placeholder{color: #0d2840; opacity: .5;}
  

div.gsc-control-cse.gsc-control-cse-en {
    width: 40%;
    border: 0;
    padding: 0;
    margin: 0;
}
#gs_tti50 input {
    /*border: 2px solid #777 !important;*/
    outline: none!important;
    width: 100% !important;
    height: 100% !important;
    border-radius: 0!important;
    margin: -3px 0 auto!important;
    cursor: pointer;
    font-size: 1em;
    color: #0d2840!important;
    padding: 14px 14px 14px 14px!important;
    -moz-transition: all .3s cubic-bezier(0,0,.5,1.5)!important;
    -webkit-transition: all .3s cubic-bezier(0,0,.5,1.5)!important;
    -o-transition: all .3s cubic-bezier(0,0,.5,1.5)!important;
    -ms-transition: all .3s cubic-bezier(0,0,.5,1.5)!important;
    transition: all .3s cubic-bezier(0,0,.5,1.5)!important;
    /*background: #fff url(http://cdn.johnroberts.com/hubfs/images/search.png?t=1435173000345) no-repeat center center!important;*/
    background-size: 22px!important;

    width: 1000px !important; 
    -webkit-background-position: 190px center !important; 
    -moz-background-position: 190px center !important; 
    -o-background-position: 190px center !important; 
    -ms-background-position: 190px center !important; 
    background-position: 190px center !important; 
    box-shadow: 0 3px 10px -2px rgba(0,0,0,.1)!important;
    color: #000000;
}

/*expands when search icon is clicked*/
/*input#gsc-i-id1:focus{
    width: 600px !important; 
    -webkit-background-position: 190px center !important; 
    -moz-background-position: 190px center !important; 
    -o-background-position: 190px center !important; 
    -ms-background-position: 190px center !important; 
    background-position: 190px center !important; 
    box-shadow: 0 3px 10px -2px rgba(0,0,0,.1)!important;
    color: #000000;
}*/
table.gsc-search-box td {
    vertical-align: top !important;
}

/** Google Original Style **/
/*googles input text box*/
.gsc-input div.gsc-input-box {
    width: 0;
    height: 25px;
    margin: 2% 0 0 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 0;
}
.gsc-input-box-focus, .gsc-search-box .gsc-input > input:hover, .gsc-input-box-hover {
    /*
    border-top: 0 !important;
    border-right: 0 !important;
    border-bottom: 0 !important;
    */
    box-shadow: none !important;
    outline: none;
}
input.gsc-input, .gsc-input-box, .gsc-input-box-hover, .gsc-input-box-focus {
border-color: none !important;
}
/*Hide Googles search button*/
.gsib_a { padding: 0 !important; margin: 0 !important;}
.gsc-search-box-tools .gsc-search-box .gsc-input {
    padding: 0 !important; 
    margin: 0 !important;
}
td.gsc-search-button, .gsc-search-box-tools .gsc-clear-button { 
  display: none; 
}
/*Hide googles delete font box*/
td.gsib_b {
  display: none;
}
/*Hide Googles search content style*/
.cse .gsc-control-cse, .gsc-control-cse {
  width: 0 !important;
  padding: 0 !important;
  background-color: none;
}