/* - White - */
.swatch-white, [class*="swatch-"] .swatch-white {
  background: white;
  color: #4c4c4c;
}
.swatch-white h1, .swatch-white h2, .swatch-white h3, .swatch-white h4, .swatch-white h5, .swatch-white h6, [class*="swatch-"] .swatch-white h1, [class*="swatch-"] .swatch-white h2, [class*="swatch-"] .swatch-white h3, [class*="swatch-"] .swatch-white h4, [class*="swatch-"] .swatch-white h5, [class*="swatch-"] .swatch-white h6 {
  color: #1c1c1c;
}
.swatch-white h1 small, .swatch-white h2 small, .swatch-white h3 small, .swatch-white h4 small, .swatch-white h5 small, .swatch-white h6 small, [class*="swatch-"] .swatch-white h1 small, [class*="swatch-"] .swatch-white h2 small, [class*="swatch-"] .swatch-white h3 small, [class*="swatch-"] .swatch-white h4 small, [class*="swatch-"] .swatch-white h5 small, [class*="swatch-"] .swatch-white h6 small {
  color: rgba(28, 28, 28, 0.8);
}
.swatch-white a, [class*="swatch-"] .swatch-white a {
  color: #82c9ed;
}
.swatch-white a:hover, [class*="swatch-"] .swatch-white a:hover {
  color: #4f9bc2;
}
.swatch-white small, [class*="swatch-"] .swatch-white small {
  color: rgba(76, 76, 76, 0.8);
}
.swatch-white small a, [class*="swatch-"] .swatch-white small a {
  color: rgba(76, 76, 76, 0.8);
}
.swatch-white small a:hover, [class*="swatch-"] .swatch-white small a:hover {
  color: #82c9ed;
}
.swatch-white i, [class*="swatch-"] .swatch-white i {
  color: #cbbebe;
}
.swatch-white blockquote:before, [class*="swatch-"] .swatch-white blockquote:before {
  background-color: #82c9ed;
}
.swatch-white blockquote small, .swatch-white blockquote footer, [class*="swatch-"] .swatch-white blockquote small, [class*="swatch-"] .swatch-white blockquote footer {
  color: #1c1c1c;
}
.swatch-white ::selection, [class*="swatch-"] .swatch-white ::selection {
  background: #82c9ed;
  color: white;
}
.swatch-white ::-moz-selection, [class*="swatch-"] .swatch-white ::-moz-selection {
  background: #82c9ed;
  color: white;
}
.swatch-white hr, [class*="swatch-"] .swatch-white hr {
  border-top-color: #e9e9e9;
}
.swatch-white pre, [class*="swatch-"] .swatch-white pre {
  background: #1c1c1c;
  color: white;
}
.swatch-white .active, [class*="swatch-"] .swatch-white .active {
  color: #4f9bc2;
}
.swatch-white .btn-primary, .swatch-white button, .swatch-white input[type="submit"], [class*="swatch-"] .swatch-white .btn-primary, [class*="swatch-"] .swatch-white button, [class*="swatch-"] .swatch-white input[type="submit"] {
  background-color: #006cb7;
  color: white;
  min-width: 150px;
}
.swatch-white .btn-primary:hover, .swatch-white button:hover, .swatch-white input[type="submit"]:hover, [class*="swatch-"] .swatch-white .btn-primary:hover, [class*="swatch-"] .swatch-white button:hover, [class*="swatch-"] .swatch-white input[type="submit"]:hover {
  background-color: rgba(130, 201, 237, 0.9);
  color: white;
}
.swatch-white .btn-primary.btn-icon-left span, .swatch-white .btn-primary.btn-icon-right span, .swatch-white button.btn-icon-left span, .swatch-white button.btn-icon-right span, .swatch-white input[type="submit"].btn-icon-left span, .swatch-white input[type="submit"].btn-icon-right span, [class*="swatch-"] .swatch-white .btn-primary.btn-icon-left span, [class*="swatch-"] .swatch-white .btn-primary.btn-icon-right span, [class*="swatch-"] .swatch-white button.btn-icon-left span, [class*="swatch-"] .swatch-white button.btn-icon-right span, [class*="swatch-"] .swatch-white input[type="submit"].btn-icon-left span, [class*="swatch-"] .swatch-white input[type="submit"].btn-icon-right span {
  background-color: rgba(255, 255, 255, 0.3);
}
.swatch-white .btn-primary i, [class*="swatch-"] .swatch-white .btn-primary i {
  color: white !important;
}
.swatch-white .btn-link, [class*="swatch-"] .swatch-white .btn-link {
  background: none;
  color: #82c9ed;
  text-decoration: none;
  box-shadow: 0px 0px 0px 1px #82c9ed inset;
}
.swatch-white .btn-link span, [class*="swatch-"] .swatch-white .btn-link span {
  background: none;
}
.swatch-white .btn-link i, [class*="swatch-"] .swatch-white .btn-link i {
  color: #82c9ed !important;
}
.swatch-white .btn-link:hover, [class*="swatch-"] .swatch-white .btn-link:hover {
  text-decoration: none;
  background-color: #82c9ed;
  color: white;
  box-shadow: 0px 0px 0px 1px #82c9ed;
}
.swatch-white .btn-link:hover i, [class*="swatch-"] .swatch-white .btn-link:hover i {
  color: white !important;
}
.swatch-white .open .dropdown-toggle.btn-primary, [class*="swatch-"] .swatch-white .open .dropdown-toggle.btn-primary {
  background-color: #82c9ed;
  color: white;
}
.swatch-white .btn-group .dropdown-menu, [class*="swatch-"] .swatch-white .btn-group .dropdown-menu {
  background-color: #82c9ed;
}
.swatch-white .btn-group .dropdown-menu > li > a, [class*="swatch-"] .swatch-white .btn-group .dropdown-menu > li > a {
  color: white;
  box-shadow: 0px -1px 0px #6cbfea;
}
.swatch-white .btn-group .dropdown-menu > li:first-child > a, [class*="swatch-"] .swatch-white .btn-group .dropdown-menu > li:first-child > a {
  box-shadow: none;
}
.swatch-white .btn-group .dropdown-menu > li > a:hover, [class*="swatch-"] .swatch-white .btn-group .dropdown-menu > li > a:hover {
  background: #a1d6f1;
}
.swatch-white .label-primary, [class*="swatch-"] .swatch-white .label-primary {
  background: #82c9ed;
  color: white;
}
.swatch-white .label-primary a, [class*="swatch-"] .swatch-white .label-primary a {
  color: white;
}
.swatch-white select, .swatch-white textarea, .swatch-white input, .swatch-white .uneditable-input, .swatch-white .input-group-btn, [class*="swatch-"] .swatch-white select, [class*="swatch-"] .swatch-white textarea, [class*="swatch-"] .swatch-white input, [class*="swatch-"] .swatch-white .uneditable-input, [class*="swatch-"] .swatch-white .input-group-btn {
      background: #ffffff;
    color: #4c4c4c;
    border: 1px solid #9E9E9E;
    border-radius: 3px;
}
.swatch-white select:-moz-placeholder, .swatch-white textarea:-moz-placeholder, .swatch-white input:-moz-placeholder, .swatch-white .uneditable-input:-moz-placeholder, .swatch-white .input-group-btn:-moz-placeholder, [class*="swatch-"] .swatch-white select:-moz-placeholder, [class*="swatch-"] .swatch-white textarea:-moz-placeholder, [class*="swatch-"] .swatch-white input:-moz-placeholder, [class*="swatch-"] .swatch-white .uneditable-input:-moz-placeholder, [class*="swatch-"] .swatch-white .input-group-btn:-moz-placeholder {
  color: #8c8c8c;
}
.swatch-white select::-moz-placeholder, .swatch-white textarea::-moz-placeholder, .swatch-white input::-moz-placeholder, .swatch-white .uneditable-input::-moz-placeholder, .swatch-white .input-group-btn::-moz-placeholder, [class*="swatch-"] .swatch-white select::-moz-placeholder, [class*="swatch-"] .swatch-white textarea::-moz-placeholder, [class*="swatch-"] .swatch-white input::-moz-placeholder, [class*="swatch-"] .swatch-white .uneditable-input::-moz-placeholder, [class*="swatch-"] .swatch-white .input-group-btn::-moz-placeholder {
  color: #8c8c8c;
}
.swatch-white select:-ms-input-placeholder, .swatch-white textarea:-ms-input-placeholder, .swatch-white input:-ms-input-placeholder, .swatch-white .uneditable-input:-ms-input-placeholder, .swatch-white .input-group-btn:-ms-input-placeholder, [class*="swatch-"] .swatch-white select:-ms-input-placeholder, [class*="swatch-"] .swatch-white textarea:-ms-input-placeholder, [class*="swatch-"] .swatch-white input:-ms-input-placeholder, [class*="swatch-"] .swatch-white .uneditable-input:-ms-input-placeholder, [class*="swatch-"] .swatch-white .input-group-btn:-ms-input-placeholder {
  color: #8c8c8c;
}
.swatch-white select::-webkit-input-placeholder, .swatch-white textarea::-webkit-input-placeholder, .swatch-white input::-webkit-input-placeholder, .swatch-white .uneditable-input::-webkit-input-placeholder, .swatch-white .input-group-btn::-webkit-input-placeholder, [class*="swatch-"] .swatch-white select::-webkit-input-placeholder, [class*="swatch-"] .swatch-white textarea::-webkit-input-placeholder, [class*="swatch-"] .swatch-white input::-webkit-input-placeholder, [class*="swatch-"] .swatch-white .uneditable-input::-webkit-input-placeholder, [class*="swatch-"] .swatch-white .input-group-btn::-webkit-input-placeholder {
  color: #8c8c8c;
}
.swatch-white input:focus, .swatch-white textarea:focus, .swatch-white select.form-control:focus, [class*="swatch-"] .swatch-white input:focus, [class*="swatch-"] .swatch-white textarea:focus, [class*="swatch-"] .swatch-white select.form-control:focus {
  border: 1px solid #006cb7;
}
.swatch-white input[type="checkbox"], .swatch-white input[type="radio"], [class*="swatch-"] .swatch-white input[type="checkbox"], [class*="swatch-"] .swatch-white input[type="radio"] {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.swatch-white .form-icon-group i, [class*="swatch-"] .swatch-white .form-icon-group i {
  color: #82c9ed;
}
.swatch-white input[type="button"], [class*="swatch-"] .swatch-white input[type="button"] {
  background: #82c9ed;
  color: white;
}
.swatch-white .select-wrap, [class*="swatch-"] .swatch-white .select-wrap {
  background: #fff;
}
.swatch-white .select-wrap:after, [class*="swatch-"] .swatch-white .select-wrap:after {
  color: #4c4c4c;
}
.swatch-white .table th, [class*="swatch-"] .swatch-white .table th {
  background-color: #82c9ed;
  text-transform: uppercase;
  color: white;
}
.swatch-white .table th, .swatch-white .table td, .swatch-white .table-bordered, [class*="swatch-"] .swatch-white .table th, [class*="swatch-"] .swatch-white .table td, [class*="swatch-"] .swatch-white .table-bordered {
  border-color: #e9e9e9;
}
.swatch-white .table-hover tbody tr:hover th, [class*="swatch-"] .swatch-white .table-hover tbody tr:hover th {
  background: #e9e9e9;
}
.swatch-white .table-striped > tbody > tr:nth-child(odd) > td, .swatch-white .table-striped > tbody > tr:nth-child(odd) > th, .swatch-white .table-hover > tbody > tr:hover > td, .swatch-white .table-hover > tbody > tr:hover > th, [class*="swatch-"] .swatch-white .table-striped > tbody > tr:nth-child(odd) > td, [class*="swatch-"] .swatch-white .table-striped > tbody > tr:nth-child(odd) > th, [class*="swatch-"] .swatch-white .table-hover > tbody > tr:hover > td, [class*="swatch-"] .swatch-white .table-hover > tbody > tr:hover > th {
  background: #e9e9e9;
}
.swatch-white#masthead, [class*="swatch-"] .swatch-white#masthead {
  border-color: white;
}
.swatch-white.navbar, [class*="swatch-"] .swatch-white.navbar {
  background: white;
  color: #1c1c1c;
}
.swatch-white .navbar-text, [class*="swatch-"] .swatch-white .navbar-text {
  color: #1c1c1c;
}
.swatch-white.navbar .navbar-brand, [class*="swatch-"] .swatch-white.navbar .navbar-brand {
  color: #1c1c1c;
}
.swatch-white.navbar .navbar-brand:hover, [class*="swatch-"] .swatch-white.navbar .navbar-brand:hover {
  color: #1c1c1c;
}
.swatch-white.navbar .nav > li > a, [class*="swatch-"] .swatch-white.navbar .nav > li > a {
  color: #4c4c4c;
}
.swatch-white.navbar .nav > li > a:hover, .swatch-white.navbar .nav > li > a:focus, [class*="swatch-"] .swatch-white.navbar .nav > li > a:hover, [class*="swatch-"] .swatch-white.navbar .nav > li > a:focus {
  color: #82c9ed;
  background: none;
}
.swatch-white.navbar .nav > li > a:before, [class*="swatch-"] .swatch-white.navbar .nav > li > a:before {
  background-color: #82c9ed;
}
.swatch-white.navbar a .menu-icon, [class*="swatch-"] .swatch-white.navbar a .menu-icon {
  color: #4c4c4c;
}
.swatch-white.navbar a:hover .menu-icon, [class*="swatch-"] .swatch-white.navbar a:hover .menu-icon {
  color: #82c9ed;
}
.swatch-white.navbar .dropdown-menu a:hover .menu-icon, [class*="swatch-"] .swatch-white.navbar .dropdown-menu a:hover .menu-icon {
  color: white;
}
.swatch-white .navbar-toggle, [class*="swatch-"] .swatch-white .navbar-toggle {
  background: none !important;
}
.swatch-white .navbar-toggle .icon-bar, [class*="swatch-"] .swatch-white .navbar-toggle .icon-bar {
  background-color: #1c1c1c;
}
.swatch-white .navbar-toggle:hover, [class*="swatch-"] .swatch-white .navbar-toggle:hover {
  background: none;
}
.swatch-white.navbar .nav > li > a:focus, .swatch-white.navbar .nav > li > a:hover, .swatch-white.navbar .nav > .active > a, .swatch-white.navbar .nav > .active > a:hover, .swatch-white.navbar .nav > .current-menu-parent > a, .swatch-white.navbar .nav > .current-menu-ancestor > a, .swatch-white.navbar .nav > .current-menu-item > a, .swatch-white.navbar .nav > .current-menu-item > a:hover, .swatch-white.navbar .nav > .current-menu-item > a:focus, .swatch-white.navbar .nav > .active > a:focus, .swatch-white.navbar .nav li.dropdown.open > .dropdown-toggle, .swatch-white.navbar .nav li.dropdown.active > .dropdown-toggle, .swatch-white.navbar .nav li.dropdown.open.active > .dropdown-toggle, [class*="swatch-"] .swatch-white.navbar .nav > li > a:focus, [class*="swatch-"] .swatch-white.navbar .nav > li > a:hover, [class*="swatch-"] .swatch-white.navbar .nav > .active > a, [class*="swatch-"] .swatch-white.navbar .nav > .active > a:hover, [class*="swatch-"] .swatch-white.navbar .nav > .current-menu-parent > a, [class*="swatch-"] .swatch-white.navbar .nav > .current-menu-ancestor > a, [class*="swatch-"] .swatch-white.navbar .nav > .current-menu-item > a, [class*="swatch-"] .swatch-white.navbar .nav > .current-menu-item > a:hover, [class*="swatch-"] .swatch-white.navbar .nav > .current-menu-item > a:focus, [class*="swatch-"] .swatch-white.navbar .nav > .active > a:focus, [class*="swatch-"] .swatch-white.navbar .nav li.dropdown.open > .dropdown-toggle, [class*="swatch-"] .swatch-white.navbar .nav li.dropdown.active > .dropdown-toggle, [class*="swatch-"] .swatch-white.navbar .nav li.dropdown.open.active > .dropdown-toggle {
  color: #82c9ed;
}
.swatch-white.navbar .nav > li > a:focus:before, .swatch-white.navbar .nav > li > a:hover:before, .swatch-white.navbar .nav > .active > a:before, .swatch-white.navbar .nav > .active > a:hover:before, .swatch-white.navbar .nav > .current-menu-parent > a:before, .swatch-white.navbar .nav > .current-menu-ancestor > a:before, .swatch-white.navbar .nav > .current-menu-item > a:before, .swatch-white.navbar .nav > .current-menu-item > a:hover:before, .swatch-white.navbar .nav > .current-menu-item > a:focus:before, .swatch-white.navbar .nav > .active > a:focus:before, .swatch-white.navbar .nav li.dropdown.open > .dropdown-toggle:before, .swatch-white.navbar .nav li.dropdown.active > .dropdown-toggle:before, .swatch-white.navbar .nav li.dropdown.open.active > .dropdown-toggle:before, [class*="swatch-"] .swatch-white.navbar .nav > li > a:focus:before, [class*="swatch-"] .swatch-white.navbar .nav > li > a:hover:before, [class*="swatch-"] .swatch-white.navbar .nav > .active > a:before, [class*="swatch-"] .swatch-white.navbar .nav > .active > a:hover:before, [class*="swatch-"] .swatch-white.navbar .nav > .current-menu-parent > a:before, [class*="swatch-"] .swatch-white.navbar .nav > .current-menu-ancestor > a:before, [class*="swatch-"] .swatch-white.navbar .nav > .current-menu-item > a:before, [class*="swatch-"] .swatch-white.navbar .nav > .current-menu-item > a:hover:before, [class*="swatch-"] .swatch-white.navbar .nav > .current-menu-item > a:focus:before, [class*="swatch-"] .swatch-white.navbar .nav > .active > a:focus:before, [class*="swatch-"] .swatch-white.navbar .nav li.dropdown.open > .dropdown-toggle:before, [class*="swatch-"] .swatch-white.navbar .nav li.dropdown.active > .dropdown-toggle:before, [class*="swatch-"] .swatch-white.navbar .nav li.dropdown.open.active > .dropdown-toggle:before {
  background-color: #82c9ed;
}
.swatch-white.navbar .nav > .disabled > a, [class*="swatch-"] .swatch-white.navbar .nav > .disabled > a {
  color: #1c1c1c;
}
.swatch-white.navbar .nav > .disabled > a:before, [class*="swatch-"] .swatch-white.navbar .nav > .disabled > a:before {
  display: none;
}
.swatch-white .dropdown-menu, [class*="swatch-"] .swatch-white .dropdown-menu {
  background-color: rgba(255, 255, 255, 0.95);
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1), 0px 3px 0px #82c9ed inset;
  -moz-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1), 0px 3px 0px #82c9ed inset;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1), 0px 3px 0px #82c9ed inset;
}
.swatch-white .dropdown-menu > li > a, [class*="swatch-"] .swatch-white .dropdown-menu > li > a {
  color: #1c1c1c;
}
.swatch-white .dropdown-menu > li > a:hover, .swatch-white .dropdown-menu > .active > a, .swatch-white .dropdown-menu > .active > a:hover, .swatch-white .dropdown-menu > .active > a:focus, [class*="swatch-"] .swatch-white .dropdown-menu > li > a:hover, [class*="swatch-"] .swatch-white .dropdown-menu > .active > a, [class*="swatch-"] .swatch-white .dropdown-menu > .active > a:hover, [class*="swatch-"] .swatch-white .dropdown-menu > .active > a:focus {
  background: #82c9ed;
  color: white;
}
.swatch-white .dropdown-menu > li > a:hover i, .swatch-white .dropdown-menu > .active > a i, .swatch-white .dropdown-menu > .active > a:hover i, .swatch-white .dropdown-menu > .active > a:focus i, [class*="swatch-"] .swatch-white .dropdown-menu > li > a:hover i, [class*="swatch-"] .swatch-white .dropdown-menu > .active > a i, [class*="swatch-"] .swatch-white .dropdown-menu > .active > a:hover i, [class*="swatch-"] .swatch-white .dropdown-menu > .active > a:focus i {
  color: white;
}
.swatch-white .dropdown-menu > li.disabled > a:hover, [class*="swatch-"] .swatch-white .dropdown-menu > li.disabled > a:hover {
  color: #1c1c1c;
}
.swatch-white.navbar .nav > li > .dropdown-menu:after, .swatch-white.navbar .nav > li > .dropdown-menu:before, [class*="swatch-"] .swatch-white.navbar .nav > li > .dropdown-menu:after, [class*="swatch-"] .swatch-white.navbar .nav > li > .dropdown-menu:before {
  display: none;
}
.swatch-white.navbar-scrolled, [class*="swatch-"] .swatch-white.navbar-scrolled {
  background: rgba(255, 255, 255, 0.95);
}
.swatch-white .dropdown-submenu > a:after, [class*="swatch-"] .swatch-white .dropdown-submenu > a:after {
  border-left-color: #82c9ed !important;
}
.swatch-white .dropdown-submenu > a:hover:after, [class*="swatch-"] .swatch-white .dropdown-submenu > a:hover:after {
  border-left-color: white !important;
}
.swatch-white .dropdown-menu .divider, [class*="swatch-"] .swatch-white .dropdown-menu .divider {
  background-color: rgba(233, 233, 233, 0.8);
}
.swatch-white.navbar .nav-highlight > a, [class*="swatch-"] .swatch-white.navbar .nav-highlight > a {
  color: white !important;
}
.swatch-white.navbar .nav-highlight > a:after, [class*="swatch-"] .swatch-white.navbar .nav-highlight > a:after {
  background: #82c9ed;
}
.swatch-white.navbar .nav-highlight > a:hover, [class*="swatch-"] .swatch-white.navbar .nav-highlight > a:hover {
  color: white !important;
}
.swatch-white.navbar .nav-highlight > a:hover:after, [class*="swatch-"] .swatch-white.navbar .nav-highlight > a:hover:after {
  background: rgba(130, 201, 237, 0.8);
}
.swatch-white.navbar li.nav-highlight-ghost > a, [class*="swatch-"] .swatch-white.navbar li.nav-highlight-ghost > a {
  color: #82c9ed;
}
.swatch-white.navbar li.nav-highlight-ghost > a:after, [class*="swatch-"] .swatch-white.navbar li.nav-highlight-ghost > a:after {
  border: 1px solid #82c9ed;
}
.swatch-white.navbar li.nav-highlight-ghost > a:hover, [class*="swatch-"] .swatch-white.navbar li.nav-highlight-ghost > a:hover {
  color: rgba(130, 201, 237, 0.8);
}
.swatch-white.navbar li.nav-highlight-ghost > a:hover:after, [class*="swatch-"] .swatch-white.navbar li.nav-highlight-ghost > a:hover:after {
  border-color: rgba(130, 201, 237, 0.8);
}
.transparent-header .swatch-white.navbar, .transparent-header [class*="swatch-"] .swatch-white.navbar {
  background: none;
}
.transparent-header .swatch-white.navbar-scrolled, .transparent-header [class*="swatch-"] .swatch-white.navbar-scrolled {
  background: rgba(255, 255, 255, 0.95) !important;
}
.transparent-header .swatch-white.search-active, .transparent-header [class*="swatch-"] .swatch-white.search-active {
  background: white !important;
}
.swatch-white .menu-item-object-oxy_mega_menu .dropdown-menu > li > ul > li > a, [class*="swatch-"] .swatch-white .menu-item-object-oxy_mega_menu .dropdown-menu > li > ul > li > a {
  color: #1c1c1c;
}
.swatch-white .menu-item-object-oxy_mega_menu .dropdown-menu > li > ul > li > a:hover, [class*="swatch-"] .swatch-white .menu-item-object-oxy_mega_menu .dropdown-menu > li > ul > li > a:hover {
  background: transparent;
  color: #82c9ed;
}
.swatch-white .menu-item-object-oxy_mega_menu .dropdown-menu > li > ul > li > a:hover .menu-icon, [class*="swatch-"] .swatch-white .menu-item-object-oxy_mega_menu .dropdown-menu > li > ul > li > a:hover .menu-icon {
  color: #82c9ed;
}
.swatch-white .menu-item-object-oxy_mega_menu .dropdown-menu > li > ul > li.current-menu-item > a, [class*="swatch-"] .swatch-white .menu-item-object-oxy_mega_menu .dropdown-menu > li > ul > li.current-menu-item > a {
  color: #82c9ed;
}
.swatch-white .menu-item-object-oxy_mega_menu .dropdown-menu > li > p, [class*="swatch-"] .swatch-white .menu-item-object-oxy_mega_menu .dropdown-menu > li > p {
  border-bottom-color: rgba(233, 233, 233, 0.8);
}
.swatch-white .menu-item-object-oxy_mega_menu .dropdown-menu > li:before, [class*="swatch-"] .swatch-white .menu-item-object-oxy_mega_menu .dropdown-menu > li:before {
  background: rgba(233, 233, 233, 0.8);
}
@media (max-width: 992px) {
  .swatch-white.navbar .nav > li > a, [class*="swatch-"] .swatch-white.navbar .nav > li > a {
    border-radius: 0;
  }
  .swatch-white.navbar .dropdown-menu, [class*="swatch-"] .swatch-white.navbar .dropdown-menu {
    background: #e9e9e9;
    border-radius: 0;
    box-shadow: none;
  }
  .swatch-white.navbar .dropdown-menu > li > a, [class*="swatch-"] .swatch-white.navbar .dropdown-menu > li > a {
    border-radius: 0;
  }
  .swatch-white.navbar .dropdown-menu > li > a:hover, .swatch-white.navbar .dropdown-menu > li > a:focus, .swatch-white.navbar .dropdown-menu > li.active > a, [class*="swatch-"] .swatch-white.navbar .dropdown-menu > li > a:hover, [class*="swatch-"] .swatch-white.navbar .dropdown-menu > li > a:focus, [class*="swatch-"] .swatch-white.navbar .dropdown-menu > li.active > a {
    background: #82c9ed;
    color: white;
  }
  .swatch-white .dropdown-submenu > ul > li > a, [class*="swatch-"] .swatch-white .dropdown-submenu > ul > li > a {
    background: #e9e9e9;
  }
  .swatch-white .dropdown-submenu > ul > li > a:hover, [class*="swatch-"] .swatch-white .dropdown-submenu > ul > li > a:hover {
    background: #e9e9e9;
  }
  .swatch-white .dropdown-submenu > a:after, [class*="swatch-"] .swatch-white .dropdown-submenu > a:after {
    border-left-color: transparent !important;
    border-top-color: #82c9ed !important;
  }
  .swatch-white .menu-item-object-oxy_mega_menu .dropdown-menu > li > ul > li > a:hover, [class*="swatch-"] .swatch-white .menu-item-object-oxy_mega_menu .dropdown-menu > li > ul > li > a:hover {
    background: #82c9ed;
    color: white;
  }
  .swatch-white .menu-item-object-oxy_mega_menu .dropdown-menu > li:before, [class*="swatch-"] .swatch-white .menu-item-object-oxy_mega_menu .dropdown-menu > li:before {
    display: none;
  }
  .swatch-white .nav-highlight > a, [class*="swatch-"] .swatch-white .nav-highlight > a {
    color: #82c9ed !important;
  }
  .swatch-white .nav-highlight > a:after, [class*="swatch-"] .swatch-white .nav-highlight > a:after {
    background: transparent;
  }
  .swatch-white .nav-highlight > a:hover, [class*="swatch-"] .swatch-white .nav-highlight > a:hover {
    color: #82c9ed !important;
  }
  .swatch-white .nav-highlight > a:hover:after, [class*="swatch-"] .swatch-white .nav-highlight > a:hover:after {
    background: transparent;
  }
  .transparent-header .swatch-white .navbar-collapse, .transparent-header [class*="swatch-"] .swatch-white .navbar-collapse {
    background: rgba(255, 255, 255, 0.95) !important;
  }
}
.swatch-white .pagination > li > a, .swatch-white .pagination > li > span, [class*="swatch-"] .swatch-white .pagination > li > a, [class*="swatch-"] .swatch-white .pagination > li > span {
  background: #82c9ed;
  color: white;
}
.swatch-white .pagination > .active > a, .swatch-white .pagination > .active > span, .swatch-white .pagination > li > a:hover, [class*="swatch-"] .swatch-white .pagination > .active > a, [class*="swatch-"] .swatch-white .pagination > .active > span, [class*="swatch-"] .swatch-white .pagination > li > a:hover {
  background: rgba(130, 201, 237, 0.8);
}
.swatch-white .pagination > .active > a i, .swatch-white .pagination > .active > span i, .swatch-white .pagination > li > a:hover i, [class*="swatch-"] .swatch-white .pagination > .active > a i, [class*="swatch-"] .swatch-white .pagination > .active > span i, [class*="swatch-"] .swatch-white .pagination > li > a:hover i {
  color: white;
}
.swatch-white .pagination > li:first-child i, .swatch-white .pagination > li:last-child i, [class*="swatch-"] .swatch-white .pagination > li:first-child i, [class*="swatch-"] .swatch-white .pagination > li:last-child i {
  color: white;
}
.swatch-white .pagination > li.disabled span i, [class*="swatch-"] .swatch-white .pagination > li.disabled span i {
  color: rgba(255, 255, 255, 0.4);
}
.swatch-white .pager > li > a, [class*="swatch-"] .swatch-white .pager > li > a {
  background: #82c9ed;
  color: white;
}
.swatch-white .pager > li > a i, [class*="swatch-"] .swatch-white .pager > li > a i {
  color: white;
}
.swatch-white .tooltip-inner, [class*="swatch-"] .swatch-white .tooltip-inner {
  background-color: #82c9ed;
  color: white;
}
.swatch-white .tooltip.in, [class*="swatch-"] .swatch-white .tooltip.in {
  opacity: 1;
}
.swatch-white .tooltip.top .tooltip-arrow, [class*="swatch-"] .swatch-white .tooltip.top .tooltip-arrow {
  border-top-color: #82c9ed;
}
.swatch-white .tooltip.right .tooltip-arrow, [class*="swatch-"] .swatch-white .tooltip.right .tooltip-arrow {
  border-right-color: #82c9ed;
}
.swatch-white .tooltip.left .tooltip-arrow, [class*="swatch-"] .swatch-white .tooltip.left .tooltip-arrow {
  border-left-color: #82c9ed;
}
.swatch-white .tooltip.bottom .tooltip-arrow, [class*="swatch-"] .swatch-white .tooltip.bottom .tooltip-arrow {
  border-bottom-color: #82c9ed;
}
.swatch-white .jumbotron, [class*="swatch-"] .swatch-white .jumbotron {
  background: #e9e9e9;
}
.swatch-white .progress-bar-primary, [class*="swatch-"] .swatch-white .progress-bar-primary {
  background: #82c9ed;
  box-shadow: none;
}
.swatch-white .progress-bar-primary span, [class*="swatch-"] .swatch-white .progress-bar-primary span {
  color: white;
}
.swatch-white .progress-bar-primary.progress-striped .progress-bar, .swatch-white .progress-striped .progress-bar-primary, [class*="swatch-"] .swatch-white .progress-bar-primary.progress-striped .progress-bar, [class*="swatch-"] .swatch-white .progress-striped .progress-bar-primary {
  background-color: #82c9ed;
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-size: 40px 40px;
}
.swatch-white .badge, [class*="swatch-"] .swatch-white .badge {
  background: #82c9ed;
  color: white;
}
.swatch-white .tab-content, .swatch-white .nav-tabs .active a, .swatch-white .tab-content, .swatch-white .nav-tabs .active a:hover, [class*="swatch-"] .swatch-white .tab-content, [class*="swatch-"] .swatch-white .nav-tabs .active a, [class*="swatch-"] .swatch-white .tab-content, [class*="swatch-"] .swatch-white .nav-tabs .active a:hover {
  background: #82c9ed;
}
.swatch-white .nav-tabs > li > a:hover, .swatch-white .nav-tabs > li > a:focus, [class*="swatch-"] .swatch-white .nav-tabs > li > a:hover, [class*="swatch-"] .swatch-white .nav-tabs > li > a:focus {
  color: white;
  background-color: #82c9ed;
}
.swatch-white .nav-tabs > li.active > a, [class*="swatch-"] .swatch-white .nav-tabs > li.active > a {
  color: white;
}
.swatch-white .nav-tabs > li.active > a:hover, [class*="swatch-"] .swatch-white .nav-tabs > li.active > a:hover {
  color: white;
}
.swatch-white .nav-pills > li > a .badge, [class*="swatch-"] .swatch-white .nav-pills > li > a .badge {
  background: #82c9ed;
  color: white;
}
.swatch-white .nav-pills > .active > a, .swatch-white .nav-pills > .active > a:hover, .swatch-white .nav-pills > li > a:hover, .swatch-white .nav-pills > li > a:focus, [class*="swatch-"] .swatch-white .nav-pills > .active > a, [class*="swatch-"] .swatch-white .nav-pills > .active > a:hover, [class*="swatch-"] .swatch-white .nav-pills > li > a:hover, [class*="swatch-"] .swatch-white .nav-pills > li > a:focus {
  background: #82c9ed;
  color: white;
}
.swatch-white .nav-pills > .active > a .badge, .swatch-white .nav-pills > .active > a:hover .badge, .swatch-white .nav-pills > li > a:hover .badge, .swatch-white .nav-pills > li > a:focus .badge, [class*="swatch-"] .swatch-white .nav-pills > .active > a .badge, [class*="swatch-"] .swatch-white .nav-pills > .active > a:hover .badge, [class*="swatch-"] .swatch-white .nav-pills > li > a:hover .badge, [class*="swatch-"] .swatch-white .nav-pills > li > a:focus .badge {
  background: white;
  color: #82c9ed;
}
.swatch-white .nav-pills > .active > a:hover, .swatch-white .nav-pills > .active > a:hover:hover, .swatch-white .nav-pills > li > a:hover:hover, .swatch-white .nav-pills > li > a:focus:hover, [class*="swatch-"] .swatch-white .nav-pills > .active > a:hover, [class*="swatch-"] .swatch-white .nav-pills > .active > a:hover:hover, [class*="swatch-"] .swatch-white .nav-pills > li > a:hover:hover, [class*="swatch-"] .swatch-white .nav-pills > li > a:focus:hover {
  color: white;
}
.swatch-white .tab-pane, .swatch-white .tab-pane.active, [class*="swatch-"] .swatch-white .tab-pane, [class*="swatch-"] .swatch-white .tab-pane.active {
  color: white;
}
.swatch-white .tab-pane h1, .swatch-white .tab-pane h2, .swatch-white .tab-pane h3, .swatch-white .tab-pane h4, .swatch-white .tab-pane h5, .swatch-white .tab-pane h6, .swatch-white .tab-pane a, .swatch-white .tab-pane p, .swatch-white .tab-pane.active h1, .swatch-white .tab-pane.active h2, .swatch-white .tab-pane.active h3, .swatch-white .tab-pane.active h4, .swatch-white .tab-pane.active h5, .swatch-white .tab-pane.active h6, .swatch-white .tab-pane.active a, .swatch-white .tab-pane.active p, [class*="swatch-"] .swatch-white .tab-pane h1, [class*="swatch-"] .swatch-white .tab-pane h2, [class*="swatch-"] .swatch-white .tab-pane h3, [class*="swatch-"] .swatch-white .tab-pane h4, [class*="swatch-"] .swatch-white .tab-pane h5, [class*="swatch-"] .swatch-white .tab-pane h6, [class*="swatch-"] .swatch-white .tab-pane a, [class*="swatch-"] .swatch-white .tab-pane p, [class*="swatch-"] .swatch-white .tab-pane.active h1, [class*="swatch-"] .swatch-white .tab-pane.active h2, [class*="swatch-"] .swatch-white .tab-pane.active h3, [class*="swatch-"] .swatch-white .tab-pane.active h4, [class*="swatch-"] .swatch-white .tab-pane.active h5, [class*="swatch-"] .swatch-white .tab-pane.active h6, [class*="swatch-"] .swatch-white .tab-pane.active a, [class*="swatch-"] .swatch-white .tab-pane.active p {
  color: white;
}
.swatch-white .tab-pane .btn, .swatch-white .tab-pane.active .btn, [class*="swatch-"] .swatch-white .tab-pane .btn, [class*="swatch-"] .swatch-white .tab-pane.active .btn {
  color: #82c9ed !important;
  background: white !important;
}
.swatch-white .tab-pane .tooltip-inner, .swatch-white .tab-pane.active .tooltip-inner, [class*="swatch-"] .swatch-white .tab-pane .tooltip-inner, [class*="swatch-"] .swatch-white .tab-pane.active .tooltip-inner {
  background-color: white;
  color: #82c9ed;
}
.swatch-white .tab-pane .tooltip.top .tooltip-arrow, .swatch-white .tab-pane.active .tooltip.top .tooltip-arrow, [class*="swatch-"] .swatch-white .tab-pane .tooltip.top .tooltip-arrow, [class*="swatch-"] .swatch-white .tab-pane.active .tooltip.top .tooltip-arrow {
  border-top-color: white;
}
.swatch-white .tab-pane .tooltip.right .tooltip-arrow, .swatch-white .tab-pane.active .tooltip.right .tooltip-arrow, [class*="swatch-"] .swatch-white .tab-pane .tooltip.right .tooltip-arrow, [class*="swatch-"] .swatch-white .tab-pane.active .tooltip.right .tooltip-arrow {
  border-right-color: white;
}
.swatch-white .tab-pane .tooltip.left .tooltip-arrow, .swatch-white .tab-pane.active .tooltip.left .tooltip-arrow, [class*="swatch-"] .swatch-white .tab-pane .tooltip.left .tooltip-arrow, [class*="swatch-"] .swatch-white .tab-pane.active .tooltip.left .tooltip-arrow {
  border-left-color: white;
}
.swatch-white .tab-pane .tooltip.bottom .tooltip-arrow, .swatch-white .tab-pane.active .tooltip.bottom .tooltip-arrow, [class*="swatch-"] .swatch-white .tab-pane .tooltip.bottom .tooltip-arrow, [class*="swatch-"] .swatch-white .tab-pane.active .tooltip.bottom .tooltip-arrow {
  border-bottom-color: white;
}
.swatch-white .panel, .swatch-white .well, [class*="swatch-"] .swatch-white .panel, [class*="swatch-"] .swatch-white .well {
  background: #e9e9e9;
}
.swatch-white .panel-primary .panel-heading, [class*="swatch-"] .swatch-white .panel-primary .panel-heading {
  background: #006cb7;
}
.swatch-white .panel-primary .panel-heading a, .swatch-white .panel-primary .panel-heading .panel-title, [class*="swatch-"] .swatch-white .panel-primary .panel-heading a, [class*="swatch-"] .swatch-white .panel-primary .panel-heading .panel-title {
  color: white;
  text-decoration: none;
}
.swatch-white .panel-primary > .panel-heading + .panel-collapse .panel-body, [class*="swatch-"] .swatch-white .panel-primary > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #3face3;
}
.swatch-white .panel-footer, [class*="swatch-"] .swatch-white .panel-footer {
  background: #98d3f0;
  border-color: #6cbfea;
}
.swatch-white .panel .table, [class*="swatch-"] .swatch-white .panel .table {
  box-shadow: 0px 0px 0px 1px #e9e9e9 inset;
}
.swatch-white .panel .table th, [class*="swatch-"] .swatch-white .panel .table th {
  background: #e9e9e9;
  color: #1c1c1c;
}
.swatch-white .portfolio-title, [class*="swatch-"] .swatch-white .portfolio-title {
  background: #82c9ed;
  color: white;
}
.swatch-white .portfolio-nav svg, [class*="swatch-"] .swatch-white .portfolio-nav svg {
  stroke: #4c4c4c;
}
.swatch-white .social-icons li a, [class*="swatch-"] .swatch-white .social-icons li a {
  background-color: #82c9ed;
}
.swatch-white .social-icons li a i, [class*="swatch-"] .swatch-white .social-icons li a i {
  color: white;
}
.swatch-white .social-icons li a:not([data-iconcolor]):hover, [class*="swatch-"] .swatch-white .social-icons li a:not([data-iconcolor]):hover {
  background-color: rgba(130, 201, 237, 0.8);
}
.swatch-white .social-simple li a i, [class*="swatch-"] .swatch-white .social-simple li a i {
  color: #4c4c4c;
}
.swatch-white .social-simple li a:not([data-iconcolor]):hover i, [class*="swatch-"] .swatch-white .social-simple li a:not([data-iconcolor]):hover i {
  color: #82c9ed;
}
.swatch-white .box-inner, [class*="swatch-"] .swatch-white .box-inner {
  background-color: #e9e9e9;
}
.swatch-white .box:not(.box-simple) a.box-inner:hover, [class*="swatch-"] .swatch-white .box:not(.box-simple) a.box-inner:hover {
  background: none !important;
  box-shadow: 0px 0px 0px 1px #4c4c4c inset;
}
.swatch-white .box:not(.box-simple) a.box-inner:hover svg, [class*="swatch-"] .swatch-white .box:not(.box-simple) a.box-inner:hover svg {
  stroke: #4c4c4c;
}
.swatch-white .bordered:after, [class*="swatch-"] .swatch-white .bordered:after {
  background-color: #1c1c1c;
}
.swatch-white .bordered-link:after, [class*="swatch-"] .swatch-white .bordered-link:after {
  background-color: #82c9ed !important;
}
.swatch-white .bordered > a:after, [class*="swatch-"] .swatch-white .bordered > a:after {
  background-color: #82c9ed;
}
.swatch-white .bordered-link:after, [class*="swatch-"] .swatch-white .bordered-link:after {
  background-color: #82c9ed !important;
}
.swatch-white #infscr-loading, [class*="swatch-"] .swatch-white #infscr-loading {
  background: #82c9ed;
  color: white;
}
.swatch-white .counter .value, [class*="swatch-"] .swatch-white .counter .value {
  color: #1c1c1c;
}
.swatch-white .scroll-to, [class*="swatch-"] .swatch-white .scroll-to {
  border-color: #82c9ed;
}
.swatch-white .scroll-to svg, [class*="swatch-"] .swatch-white .scroll-to svg {
  stroke: #82c9ed;
}
.swatch-white .scroll-to:hover, [class*="swatch-"] .swatch-white .scroll-to:hover {
  border-color: #4c4c4c;
}
.swatch-white .scroll-to:hover svg, [class*="swatch-"] .swatch-white .scroll-to:hover svg {
  stroke: #4c4c4c;
}
.swatch-white .map-marker-label, [class*="swatch-"] .swatch-white .map-marker-label {
  border-top-color: #82c9ed;
}
.swatch-white .tag-list span, [class*="swatch-"] .swatch-white .tag-list span {
  background: #82c9ed;
  color: white;
}
.swatch-white .mejs-audio, [class*="swatch-"] .swatch-white .mejs-audio {
  background-color: #82c9ed;
  color: white;
}
.swatch-white .mejs-container .mejs-controls .mejs-time span, [class*="swatch-"] .swatch-white .mejs-container .mejs-controls .mejs-time span {
  color: white;
}
.swatch-white .mejs-controls .mejs-button button:hover, [class*="swatch-"] .swatch-white .mejs-controls .mejs-button button:hover {
  background-color: transparent;
}
.swatch-white .mejs-controls .mejs-time-rail .mejs-time-loaded, [class*="swatch-"] .swatch-white .mejs-controls .mejs-time-rail .mejs-time-loaded {
  background: white;
}
.swatch-white .mejs-controls .mejs-time-rail .mejs-time-current, .swatch-white .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current, [class*="swatch-"] .swatch-white .mejs-controls .mejs-time-rail .mejs-time-current, [class*="swatch-"] .swatch-white .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
  background: #e9e9e9;
}
.swatch-white .post:after, [class*="swatch-"] .swatch-white .post:after {
  background: #e9e9e9;
}
.swatch-white .post-icon, [class*="swatch-"] .swatch-white .post-icon {
  background: #82c9ed;
}
.swatch-white .post-icon i, [class*="swatch-"] .swatch-white .post-icon i {
  color: white;
}
.swatch-white .post-search-icon, [class*="swatch-"] .swatch-white .post-search-icon {
  color: white;
  text-shadow: 2px 2px 1px rgba(28, 28, 28, 0.2);
}
.swatch-white .post-extras a, [class*="swatch-"] .swatch-white .post-extras a {
  color: rgba(76, 76, 76, 0.8);
}
.swatch-white .post-extras a:hover, [class*="swatch-"] .swatch-white .post-extras a:hover {
  color: #82c9ed;
}
.swatch-white .post-extras i, [class*="swatch-"] .swatch-white .post-extras i {
  color: #4c4c4c;
}
.swatch-white .post-more-link i, [class*="swatch-"] .swatch-white .post-more-link i {
  color: #82c9ed;
}
.swatch-white .media-inner:after, [class*="swatch-"] .swatch-white .media-inner:after {
  background: #82c9ed;
}
.swatch-white .author-info, [class*="swatch-"] .swatch-white .author-info {
  background-color: #82c9ed;
  color: white;
}
.swatch-white .author-info .media-heading, [class*="swatch-"] .swatch-white .author-info .media-heading {
  color: white;
}
.swatch-white .author-info .media-heading:after, [class*="swatch-"] .swatch-white .author-info .media-heading:after {
  background: white;
}
.post-masonry .swatch-white:hover, .post-masonry [class*="swatch-"] .swatch-white:hover {
  color: #4c4c4c;
}
.swatch-white .breadcrumb-blog a, .swatch-white .breadcrumb-blog .active, [class*="swatch-"] .swatch-white .breadcrumb-blog a, [class*="swatch-"] .swatch-white .breadcrumb-blog .active {
  color: #4c4c4c;
}
.swatch-white .breadcrumb-blog a:hover, [class*="swatch-"] .swatch-white .breadcrumb-blog a:hover {
  color: rgba(76, 76, 76, 0.8);
}
.swatch-white .post-related-post, [class*="swatch-"] .swatch-white .post-related-post {
  background-color: #82c9ed;
}
.swatch-white .post-related-post a, [class*="swatch-"] .swatch-white .post-related-post a {
  background: rgba(28, 28, 28, 0.9);
  color: white;
}
.swatch-white .post-related-post a:hover, [class*="swatch-"] .swatch-white .post-related-post a:hover {
  color: white;
}
.swatch-white .post-related-post small, [class*="swatch-"] .swatch-white .post-related-post small {
  background: white;
  color: #1c1c1c;
}
.swatch-white .post-related-post blockquote, [class*="swatch-"] .swatch-white .post-related-post blockquote {
  color: white;
}
.swatch-white .post-related-post blockquote small, [class*="swatch-"] .swatch-white .post-related-post blockquote small {
  background: rgba(28, 28, 28, 0.9);
  color: white;
}
.swatch-white .post-related-post blockquote:before, [class*="swatch-"] .swatch-white .post-related-post blockquote:before {
  background-color: #63bce9;
}
.swatch-white .post-sticky, [class*="swatch-"] .swatch-white .post-sticky {
  background: rgba(130, 201, 237, 0.8);
}
.swatch-white .post-sticky i, [class*="swatch-"] .swatch-white .post-sticky i {
  color: white;
}
.swatch-white .gform_wrapper .gsection, [class*="swatch-"] .swatch-white .gform_wrapper .gsection {
  border-color: #e9e9e9;
}
.swatch-white .gf_progressbar, [class*="swatch-"] .swatch-white .gf_progressbar {
  background: #e9e9e9;
}
.swatch-white .gf_progressbar_percentage, [class*="swatch-"] .swatch-white .gf_progressbar_percentage {
  background: #82c9ed;
  color: white;
}
.swatch-white .sidebar, [class*="swatch-"] .swatch-white .sidebar {
  color: #4c4c4c;
}
.swatch-white .sidebar h3, [class*="swatch-"] .swatch-white .sidebar h3 {
  color: #1c1c1c;
}
.swatch-white .sidebar a, [class*="swatch-"] .swatch-white .sidebar a {
  color: #4c4c4c;
}
.swatch-white .sidebar a:hover, [class*="swatch-"] .swatch-white .sidebar a:hover {
  color: #82c9ed;
}
.swatch-white .sidebar-header:after, [class*="swatch-"] .swatch-white .sidebar-header:after {
  background: #82c9ed;
}
.swatch-white .sidebar-widget .post-icon, [class*="swatch-"] .swatch-white .sidebar-widget .post-icon {
  background: #82c9ed;
}
.swatch-white .sidebar-widget .post-icon i, [class*="swatch-"] .swatch-white .sidebar-widget .post-icon i {
  color: white;
}
.swatch-white .widget_recent_entries li, [class*="swatch-"] .swatch-white .widget_recent_entries li {
  border-color: #e9e9e9;
}
.swatch-white .widget_tag_cloud ul a, [class*="swatch-"] .swatch-white .widget_tag_cloud ul a {
  background: #82c9ed;
  color: white;
}
.swatch-white .widget_tag_cloud ul a:hover, [class*="swatch-"] .swatch-white .widget_tag_cloud ul a:hover {
  background: rgba(130, 201, 237, 0.9);
  color: white;
}
.swatch-white .widget_calendar tbody a, [class*="swatch-"] .swatch-white .widget_calendar tbody a {
  background: #82c9ed;
  color: white;
}
.swatch-white .widget_calendar tbody a:hover, [class*="swatch-"] .swatch-white .widget_calendar tbody a:hover {
  background: #63bce9;
  color: white;
}
.swatch-white .widget_calendar tfoot, [class*="swatch-"] .swatch-white .widget_calendar tfoot {
  background: #e9e9e9;
}
.swatch-white .widget_nav_menu .sub-menu li:before, [class*="swatch-"] .swatch-white .widget_nav_menu .sub-menu li:before {
  color: #e9e9e9;
}
.swatch-white .widget_oxy_twitter li:before, [class*="swatch-"] .swatch-white .widget_oxy_twitter li:before {
  color: #82c9ed;
}
.swatch-white .top-search form, [class*="swatch-"] .swatch-white .top-search form {
  background-color: white;
}
.swatch-white .top-search input, [class*="swatch-"] .swatch-white .top-search input {
  background: none;
  color: #4c4c4c;
}
.swatch-white .top-search input:focus, [class*="swatch-"] .swatch-white .top-search input:focus {
  box-shadow: none;
}
.swatch-white .top-search input:-moz-placeholder, [class*="swatch-"] .swatch-white .top-search input:-moz-placeholder {
  color: #4c4c4c;
}
.swatch-white .top-search input::-moz-placeholder, [class*="swatch-"] .swatch-white .top-search input::-moz-placeholder {
  color: #4c4c4c;
}
.swatch-white .top-search input:-ms-input-placeholder, [class*="swatch-"] .swatch-white .top-search input:-ms-input-placeholder {
  color: #4c4c4c;
}
.swatch-white .top-search input::-webkit-input-placeholder, [class*="swatch-"] .swatch-white .top-search input::-webkit-input-placeholder {
  color: #4c4c4c;
}
.swatch-white .top-search .search-close, [class*="swatch-"] .swatch-white .top-search .search-close {
  color: #82c9ed;
}
.swatch-white .top-search svg, [class*="swatch-"] .swatch-white .top-search svg {
  stroke: #4c4c4c;
}
.swatch-white.top-bar a, [class*="swatch-"] .swatch-white.top-bar a {
  color: #1c1c1c;
}
.swatch-white.top-bar a:hover, [class*="swatch-"] .swatch-white.top-bar a:hover {
  color: #82c9ed;
}
.swatch-white.top-bar .sidebar-widget:after, [class*="swatch-"] .swatch-white.top-bar .sidebar-widget:after {
  background: #e9e9e9;
}
.swatch-white .widget_swatch_wpml_language_selector li:before, [class*="swatch-"] .swatch-white .widget_swatch_wpml_language_selector li:before {
  background: #e9e9e9;
}
.swatch-white .button, [class*="swatch-"] .swatch-white .button {
  background: #82c9ed;
  color: white;
}
.swatch-white .button:hover, [class*="swatch-"] .swatch-white .button:hover {
  background: rgba(130, 201, 237, 0.9);
  color: white;
}
.swatch-white.section-commerce .breadcrumb, [class*="swatch-"] .swatch-white.section-commerce .breadcrumb {
  background: none;
  color: #4c4c4c;
}
.swatch-white.section-commerce .breadcrumb a, [class*="swatch-"] .swatch-white.section-commerce .breadcrumb a {
  color: #82c9ed;
}
.swatch-white.section-commerce .breadcrumb > li + li:before, [class*="swatch-"] .swatch-white.section-commerce .breadcrumb > li + li:before {
  color: #82c9ed;
}
.swatch-white .woocommerce-ordering .select-wrap, [class*="swatch-"] .swatch-white .woocommerce-ordering .select-wrap {
  background: #82c9ed;
}
.swatch-white .woocommerce-ordering .select-wrap:after, [class*="swatch-"] .swatch-white .woocommerce-ordering .select-wrap:after {
  color: white;
}
.swatch-white .woocommerce-ordering select, [class*="swatch-"] .swatch-white .woocommerce-ordering select {
  color: white;
  background: transparent;
}
.swatch-white .onsale, [class*="swatch-"] .swatch-white .onsale {
  background: #82c9ed;
  color: white;
}
.swatch-white .price, [class*="swatch-"] .swatch-white .price {
  color: #1c1c1c;
}
.swatch-white .page-numbers a, .swatch-white .page-numbers span, [class*="swatch-"] .swatch-white .page-numbers a, [class*="swatch-"] .swatch-white .page-numbers span {
  color: white;
}
.swatch-white .page-numbers li, [class*="swatch-"] .swatch-white .page-numbers li {
  background: #82c9ed;
}
.swatch-white .page-numbers .current, .swatch-white .page-numbers li a:hover, [class*="swatch-"] .swatch-white .page-numbers .current, [class*="swatch-"] .swatch-white .page-numbers li a:hover {
  background: #e9e9e9;
  color: #4c4c4c;
}
.swatch-white #reviews .comment, [class*="swatch-"] .swatch-white #reviews .comment {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.swatch-white #reviews .form-control, [class*="swatch-"] .swatch-white #reviews .form-control {
  background: white;
}
.swatch-white #reviews input[type="submit"], [class*="swatch-"] .swatch-white #reviews input[type="submit"] {
  background: white;
  color: #82c9ed;
}
.swatch-white .related h2, .swatch-white .cross-sells h2, .swatch-white .upsells h2, [class*="swatch-"] .swatch-white .related h2, [class*="swatch-"] .swatch-white .cross-sells h2, [class*="swatch-"] .swatch-white .upsells h2 {
  background: #82c9ed;
  color: white;
}
.swatch-white .product-category h3, [class*="swatch-"] .swatch-white .product-category h3 {
  background: rgba(130, 201, 237, 0.85);
  color: white;
}
.swatch-white .product-category h3 mark, [class*="swatch-"] .swatch-white .product-category h3 mark {
  background: #82c9ed;
  color: white;
}
.swatch-white .product-nav a i, [class*="swatch-"] .swatch-white .product-nav a i {
  background: #82c9ed;
  color: white;
}
.swatch-white .product-images figcaption, [class*="swatch-"] .swatch-white .product-images figcaption {
  box-shadow: none;
  background: #82c9ed;
}
.swatch-white .product-images figcaption i, [class*="swatch-"] .swatch-white .product-images figcaption i {
  color: white;
}
.swatch-white .product-images .flex-active, [class*="swatch-"] .swatch-white .product-images .flex-active {
  -webkit-box-shadow: 0px 3px 0px #82c9ed;
  -moz-box-shadow: 0px 3px 0px #82c9ed;
  box-shadow: 0px 3px 0px #82c9ed;
}
.swatch-white .order_details, [class*="swatch-"] .swatch-white .order_details {
  background: #e9e9e9;
}
.swatch-white .order_details li, [class*="swatch-"] .swatch-white .order_details li {
  border-color: white;
}
.swatch-white .cart_list li, [class*="swatch-"] .swatch-white .cart_list li {
  border-color: #e9e9e9;
}
.swatch-white .cart-actions, [class*="swatch-"] .swatch-white .cart-actions {
  background: white;
}
.swatch-white .widget_product_tag_cloud a, [class*="swatch-"] .swatch-white .widget_product_tag_cloud a {
  background: #82c9ed;
  color: white;
}
.swatch-white .widget_product_tag_cloud a:hover, [class*="swatch-"] .swatch-white .widget_product_tag_cloud a:hover {
  background: rgba(130, 201, 237, 0.9);
  color: white;
}
.swatch-white .product_list_widget li, [class*="swatch-"] .swatch-white .product_list_widget li {
  border-color: #e9e9e9;
}
.swatch-white .star-rating, [class*="swatch-"] .swatch-white .star-rating {
  color: #82c9ed;
}
.swatch-white .widget_price_filter .ui-slider .ui-slider-range, [class*="swatch-"] .swatch-white .widget_price_filter .ui-slider .ui-slider-range {
  background: #e9e9e9;
}
.swatch-white .widget_price_filter .ui-slider .ui-slider-handle, [class*="swatch-"] .swatch-white .widget_price_filter .ui-slider .ui-slider-handle {
  background: #82c9ed;
}
.swatch-white .widget_product_search form:after, [class*="swatch-"] .swatch-white .widget_product_search form:after {
  color: white;
}
.swatch-white .bbp-forums-list li, [class*="swatch-"] .swatch-white .bbp-forums-list li {
  border-left-color: #82c9ed;
}
.swatch-white .bbp-topic-freshness-author:after, [class*="swatch-"] .swatch-white .bbp-topic-freshness-author:after {
  background: #82c9ed;
}
.swatch-white .bbp-topic-permalink i, [class*="swatch-"] .swatch-white .bbp-topic-permalink i {
  color: #82c9ed;
}
.swatch-white .panel-bbpress, [class*="swatch-"] .swatch-white .panel-bbpress {
  background: white;
}
.swatch-white .panel-bbpress .panel-heading, [class*="swatch-"] .swatch-white .panel-bbpress .panel-heading {
  border-color: #82c9ed;
}
.swatch-white .panel-bbpress .panel-body, [class*="swatch-"] .swatch-white .panel-bbpress .panel-body {
  border-color: #e9e9e9;
}
.swatch-white .panel-bbpress .panel-warning, [class*="swatch-"] .swatch-white .panel-bbpress .panel-warning {
  color: #82c9ed;
  border-color: #e9e9e9;
}
.swatch-white .panel-bbpress .bbp-template-notice, [class*="swatch-"] .swatch-white .panel-bbpress .bbp-template-notice {
  border-color: #e9e9e9;
}
.swatch-white .panel-bbpress .panel-footer, [class*="swatch-"] .swatch-white .panel-bbpress .panel-footer {
  background: #e9e9e9;
  border-color: #e9e9e9;
}
.swatch-white .label-bbpress, [class*="swatch-"] .swatch-white .label-bbpress {
  background: transparent;
  color: #82c9ed;
}
.swatch-white .bbp-reply-content, [class*="swatch-"] .swatch-white .bbp-reply-content {
  border-color: #e9e9e9;
}
.swatch-white .bbp-reply-content .media-heading, [class*="swatch-"] .swatch-white .bbp-reply-content .media-heading {
  background: #f6f6f6;
  border-color: gainsboro;
}
.swatch-white .bbp_author_details img, [class*="swatch-"] .swatch-white .bbp_author_details img {
  background: white;
  box-shadow: 0px 0px 0px 4px #e9e9e9;
}
.swatch-white .bbp_author_details:after, [class*="swatch-"] .swatch-white .bbp_author_details:after {
  background: #e9e9e9;
}
.swatch-white .bbp_author_details:hover img, [class*="swatch-"] .swatch-white .bbp_author_details:hover img {
  box-shadow: 0px 0px 0px 4px #82c9ed;
}
.swatch-white .bbpress-header .breadcrumb a, .swatch-white .bbpress-header .breadcrumb .active, [class*="swatch-"] .swatch-white .bbpress-header .breadcrumb a, [class*="swatch-"] .swatch-white .bbpress-header .breadcrumb .active {
  color: #4c4c4c;
}
.swatch-white .bbpress-header .breadcrumb a:hover, [class*="swatch-"] .swatch-white .bbpress-header .breadcrumb a:hover {
  color: rgba(76, 76, 76, 0.8);
}
.swatch-white .bbp-topic-tags a, [class*="swatch-"] .swatch-white .bbp-topic-tags a {
  background: #82c9ed;
  color: white;
}
.swatch-white .bbp-topic-tags a:hover, [class*="swatch-"] .swatch-white .bbp-topic-tags a:hover {
  background: rgba(130, 201, 237, 0.9);
}
.swatch-white .bbp-logged-in, [class*="swatch-"] .swatch-white .bbp-logged-in {
  background: #e9e9e9;
}
.swatch-white .bbp-logged-in .button, .swatch-white .bbp-logged-in .button:hover, [class*="swatch-"] .swatch-white .bbp-logged-in .button, [class*="swatch-"] .swatch-white .bbp-logged-in .button:hover {
  color: white;
}
.swatch-white .post-count, [class*="swatch-"] .swatch-white .post-count {
  background: #82c9ed;
  color: white;
}
